body.page-type-page #content #block-anme-content article.basic-page-node .field-body img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    margin-top: 10px;
}
body.page-type-page #sidebar-second {
    margin-top: 30px;
}


body.page-type-page #content #block-anme-content article.basic-page-node {
}
body.page-type-page #content #block-anme-content article.basic-page-node .field-body p {
    text-align: justify;
    font-size: 18px;
    line-height: 1.5;
    font-weight: 300;
    font-family: Corbel !important;
    text-indent: 15px;
}
body.page-type-page #content #block-anme-content article.basic-page-node .field-body ul:not(.nav-tabs) {
    list-style: none;
}
body.page-type-page #content #block-anme-content article.basic-page-node .field-body ul:not(.nav-tabs) li {
    padding-left: 25px;
    font-size: 14px;
    color: #000;
    margin-bottom: 17px;
    position: relative;
    font-weight: 300;
    text-indent: 10px;
}
body.lang-ar.page-type-page #content #block-anme-content article.basic-page-node .field-body ul:not(.nav-tabs) li {
    text-align: right;
}
body.page-type-page #content #block-anme-content article.basic-page-node .field-body ul:not(.nav-tabs) li::before {
    content: "";
    background: url('../../images/icons/puce.png');
    height: 10px;
    width: 13px;
    display: inline-block;
    margin-right: 10px;
}
body.lang-ar.page-type-page #content #block-anme-content article.basic-page-node .field-body ul:not(.nav-tabs) li::before {
    margin-left: 10px;
}
body.page-type-page #content #block-anme-content article.basic-page-node .field-body  table {
    width: 100%;
    border-collapse: collapse; /* Ensures borders are collapsed */
    margin: 20px 0; /* Adds margin around the table */
}

body.page-type-page #content #block-anme-content article.basic-page-node .field-body th,
body.page-type-page #content #block-anme-content article.basic-page-node .field-body td {
    border: 1px solid #ddd; /* Light gray border */
    padding: 8px; /* Padding inside cells */
    text-align: left; /* Align text to the left */
}
body.lang-ar.page-type-page #content #block-anme-content article.basic-page-node .field-body th,
body.lang-ar.page-type-page #content #block-anme-content article.basic-page-node .field-body td {
    text-align: right;
}

body.page-type-page #content #block-anme-content article.basic-page-node .field-body th {
    background-color: #f4f4f4; /* Light gray background for headers */
    font-weight: bold; /* Bold text for headers */
}

body.page-type-page #content #block-anme-content article.basic-page-node .field-body tr:nth-child(even) {
    background-color: #f9f9f9; /* Zebra striping for even rows */
}

body.page-type-page #content #block-anme-content article.basic-page-node .field-body tr:hover {
    background-color: #f1f1f1; /* Highlight row on hover */
}
