#main-wrapper {
  padding: 0px!important;
}
/*CSS for top-header-first tpl */
@media (min-width: 300px) and (max-width: 768px) {
    #top-header-first {
        display: none;
    }
}
/*CSS for block-anme-tabsmenu*/
@media (min-width: 300px) and (max-width: 768px) {
    #highlighted-header-first {
        margin: 0px;
        max-width: 768px;
    }
    #block-anme-tabsmenu  {
        /* display: block!important;*/
        width: 100%;

    }
    #block-anme-tabsmenu ul {
        list-style-type: none!important;
        margin: 0!important;
        padding: 0 !important;
        flex-direction: column;
    }
    #block-anme-tabsmenu ul li {
        display: block!important;
        width: 90vw!important;
    }
    #block-anme-tabsmenu ul li a {
        display: block!important;
        width: 100%!important;
        max-width: 100% !important;
    }
}


/*css for block-anme-anme-site-logo */
@media (min-width: 300px) and (max-width: 768px) {
    #top-header-second #block-anme-anme-site-logo {
        margin-top: 20px;
        text-align: center;
    }
}
/*css for block-anme-breadcrumbs */
@media (min-width: 300px) and (max-width: 768px) {
    #block-anme-breadcrumbs {
        margin-left: 40px;
    }
}

/*css for block-anme-search-form */
@media (min-width: 300px) and (max-width: 768px) {
    #top-header-second #block-anme-search-form {
        display: none;
    }
}
/*CSS for block-anme-views-block-banner-product-block-1 */
@media (min-width: 300px) and (max-width: 768px) {
    #content div#block-anme-views-block-banner-product-block-1 {

    }
    #content div#block-anme-views-block-banner-product-block-1 div.block-content .owl-stage-outer {

    }
    #content div#block-anme-views-block-banner-product-block-1 div.block-content .owl-stage {
        /* width: 3072px!important;*/
        width: 400vw!important;

    }
    #content div#block-anme-views-block-banner-product-block-1 div.block-content .owl-stage-outer .owl-item  {
        /*width: 768px!important;*/
        width: 100vw!important;

    }
    #content div#block-anme-views-block-banner-product-block-1 div.block-content .owl-stage-outer .owl-item div.title {


    }
    #content div#block-anme-views-block-banner-product-block-1 div.block-content .owl-stage-outer .owl-item img {

    }
}



/*CSS for block-anme-views-block-news-events-block-1 */
@media (min-width: 300px) and (max-width: 768px) {
    #content div#block-anme-views-block-news-events-block-1 {
        background-color: #00a3da!important;


    }
    #content div#block-anme-views-block-news-events-block-1 div.block-content .owl-stage-outer {

    }
    #content div#block-anme-views-block-news-events-block-1 div.block-content .owl-stage {
       /* width: 3072px!important;*/
        width: 400vw!important;

    }
    #content div#block-anme-views-block-news-events-block-1 div.block-content .owl-stage-outer .owl-item  {
       /*width: 768px!important;*/
        width: 100vw!important;

    }
    #content div#block-anme-views-block-news-events-block-1 div.block-content .owl-stage-outer .owl-item div.title {
        font-size: 10px;

    }
    #content div#block-anme-views-block-news-events-block-1 div.block-content .owl-stage-outer .owl-item img {

    }
}
/*CSS for #block-anme-views-block-services-widgets-block-1 in content  */
@media (min-width: 300px) and (max-width: 768px) {
    #content #block-anme-views-block-services-widgets-block-1 .views-view-responsive-grid--horizontal {
        display:block;
    }
}

/*CSS for #block-anme-anme-label in content  */
@media (min-width: 300px) and (max-width: 768px) {
    #content #block-anme-anme-label .h2-titre,
    #content #block-anme-anme-label .devis {
        display:none;
    }
}
/********************************/
/*CSS for block-anme-views-block-three-sector-products-block-1 in highlighted */
@media (min-width: 300px) and (max-width: 768px) {
    #highlighted div#block-anme-views-block-three-sector-products-block-1 {



    }
    #highlighted div#block-anme-views-block-three-sector-products-block-1 div.block-content .owl-stage-outer {

    }
    #highlighted div#block-anme-views-block-three-sector-products-block-1 div.block-content .owl-stage {
        /* width: 3072px!important;*/
       width: 300vw!important;

    }
    #highlighted div#block-anme-views-block-three-sector-products-block-1 div.block-content .owl-stage-outer .owl-item  {
        /*width: 768px!important;*/
        width: 100vw!important;

    }
    #highlighted div#block-anme-views-block-three-sector-products-block-1 div.block-content .owl-stage-outer .owl-item div.title {


    }
    #highlighted div#block-anme-views-block-three-sector-products-block-1 div.block-content .owl-stage-outer .owl-item img {

    }
}
/********************************/


/********************************/
/*CSS for block-anme-views-block-three-sector-products-block-4 in highlighted */
@media (min-width: 300px) and (max-width: 768px) {
    #highlighted div#block-anme-views-block-three-sector-products-block-4 {
       display: none;
    }
}










/********************************/
/*CSS for block-anme-views-block-three-sector-products-block-2 in sidebar second */
@media (min-width: 300px) and (max-width: 768px) {
    #sidebar-second div#block-anme-views-block-three-sector-products-block-2 {



    }
    #sidebar-second div#block-anme-views-block-three-sector-products-block-2 div.block-content .owl-stage-outer {

    }
    #sidebar-second div#block-anme-views-block-three-sector-products-block-2 div.block-content .owl-stage {
        /* width: 3072px!important;*/
        width: 300vw!important;

    }
    #sidebar-second div#block-anme-views-block-three-sector-products-block-2 div.block-content .owl-stage-outer .owl-item  {
        /*width: 768px!important;*/
        width: 100vw!important;

    }
    #sidebar-second div#block-anme-views-block-three-sector-products-block-2 div.block-content .owl-stage-outer .owl-item div.title {


    }
    #sidebar-second div#block-anme-views-block-three-sector-products-block-2 div.block-content .owl-stage-outer .owl-item img {

    }
}
/********************************/





/*CSS for block-anme-views-block-three-sector-products-block-2 */
@media (min-width: 300px) and (max-width: 768px) {
    #sidebar-second div#block-anme-views-block-three-sector-products-block-2 div.block-content .owl-stage-outer .owl-item  {
       /*width:80vw!important;
       padding-left:5px;
       padding-right:5px;*/
       border: 1px solid #e5e5e5;
       height:400px;
    }
}

/*css for block-anme-views-block-webinair-block-1 */
@media (min-width: 300px) and (max-width: 768px) {
    #footer-top #block-anme-views-block-webinair-block-1 {
        display: none;
    }
}


/*CSS for #block-anme-views-block-our-platforms-block-1 in content bottom region */
@media (min-width: 300px) and (max-width: 768px) {
     body.lang-ar #content-bottom #block-anme-views-block-our-platforms-block-1 {
        margin-right:10px;   
    }
    #content-bottom #block-anme-views-block-our-platforms-block-1 .row {
        display: block;
        
    }
    #content-bottom #block-anme-views-block-our-platforms-block-1 .row .col {
        width: 100%!important;
    }
    #main-wrapper.container {
        margin-left: 0px;
        margin-right: 0px;
        width: 100%;
    }
}

/*CSS for footer-content tpl */
@media (min-width: 300px) and (max-width: 768px) {
    #footer-content div.row {
        display: block!important;
    }
}

